<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <!-- <meta "description" > -->
        <title> Ye Chen's Personal Site</title>
    </head>
    <body>
        <img src="https://media.licdn.com/dms/image/C5603AQFnsHlkqrHtSw/profile-displayphoto-shrink_200_200/0?e=1557360000&v=beta&t=E194BdwVcPKGPUUnMoiUhHeud36REIweA5Jhz4dxzKg" alt="ye profile picture" style="padding:0 15px; float:left">
        <h1>Ye Chen</h1>
        <p><em>Graduate Student</em></p>
        <p><em>Department of Computer Science</em></p>
        <p><em>Purdue University</em></p>
        <p><em>West Lafayette, IN 47906</em></p>
        <br>
        <p>
            I am a graduate student at Purdue University.
        </p>

        <hr size='2' noshade>
        <%= link_to 'About', pages_about_path %>
        <hr size='2' noshade>

        <h2>Education</h2>
        <ul>
            <li><p style="text-align:left;">Purdue University, West Lafayette, IN <span style="float:right;"><em>08/2016 - 05/2018</em></span></p>
                <ul>
                    <li>Master's Degree in Computer Science</li>
                    <li>GPA 3.93/4.0</li>
                </ul>
            </li>
            <li><p style="text-align:left;">Purdue University, West Lafayette, IN <span style="float:right;"><em>08/2013 - 05/2016</em></span></p>
                <ul>
                    <li>Bachelor's Degree in Computer Science</li>
                    <li>GPA 3.89/4.0</li>
                </ul>
            </li>
            <li><p style="text-align:left;">Purdue University, West Lafayette, IN <span style="float:right;"><em>08/2013 - 05/2015</em></span></p>
                <ul>
                    <li>Bachelor's Degree in Biology</li>
                    <li>GPA 3.89/4.0</li>
                </ul>
            </li>
            <li><p style="text-align:left;">China Agricultural University, Beijing, China <span style="float:right;"><em>08/2010 - 05/2015</em></span></p>
                <ul>
                    <li>Bachelor's Degree in Biological Science</li>
                    <li>GPA 3.73/4.0</li>
                </ul>
            </li>
        </ul>

        <hr size='2' noshade>
        <h2>Working Experience</h2>
        <ul>
            <li><p style="text-align:left;"><strong>Research Assistant</strong> Purdue University, West Lafayette, IN  <span style="float:right;"><em>05/2017-12/2017</em></span></p>
                <ul>
                    <li>Development of automation software in R for biomedical data analysis to identify cancer cells from different pathological stages with high accuracy.</li>
                    <li>Coordinated all aspects of data mining, including pre-process of raw biomedical data, selection of classification methods and evaluation of models. </li>
                    <li>Ability to handle highly stressed situations and unexpected errors in an efficient manner. </li>
                    <li>Coding, testing and fixing programming errors.</li>
                </ul>
            </li>
        </ul>

        <hr size='2' noshade>

        <h2>Projects</h2>
        <ul>
            <li>Member Management Web Application</li>
            <li>Credit Card Interest Tracker Server</li>
            <li>Famus</li>
            <li>C Shell</li>
        </ul>

        <hr size='2' noshade>
        <h2>Skills</h2>
        <table cellspacing="10">
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>Python</td>
                            <td>⭐⭐⭐⭐</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <td>Java</td>
                            <td>⭐⭐⭐⭐</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <hr size='2' noshade>

        <h2>Publication</h2>
        <ul>
            <li>Chen, Y., Calvert, R. D., Azad, A., Rajwa, B., Fleet, J., Ratliff, T., & Pothen, A.
                (2018, August).
                <a href="https://dl.acm.org/citation.cfm?doid=3233547.3233583">
                    Phenotyping Immune Cells in Tumor and Healthy Tissue Using Flow Cytometry Data.
                </a>
                In Proceedings of the 2018 ACM International Conference on Bioinformatics,
                Computational Biology, and Health Informatics (pp. 73-78). ACM.
            </li>
        </ul>

    </body>
</html>
About
